<nav class="navbar navbar-dark bg-dark mb-3">
  <div class="container align-items-center">
    <a routerLink="/" class="navbar-brand">AniWatch</a>
    <div class="form-check form-switch offset-md-1 offset-lg-4">
      <input
        class="form-check-input"
        type="checkbox"
        role="switch"
        id="flexSwitchCheckDefault"
        [(ngModel)]="searchByKodik"
      >
      <label class="form-check-label text-light" for="flexSwitchCheckDefault">Искать в базе Kodik?</label>
    </div>
    <div class="col-lg-4">
      <form class="d-flex" (submit)="submit()">
        <input
          class="form-control me-2"
          placeholder="Поиск"
          aria-label="Поиск"
          [(ngModel)]="searchField"
          name="searchField"
        >
        <button class="btn btn-outline-light" type="submit">Поиск</button>
      </form>
    </div>
  </div>
</nav>
